		aside {
		    position: fixed; /* 화면에 고정 */
		    top: 30vh; /* header의 높이만큼 아래에 위치하도록 설정 */
		    right: 2vw; /* 오른쪽 끝에 고정 */
		    width: 9vw; /* 네비게이션 바의 너비 설정 */
		    z-index: 1000; /* 다른 요소들보다 위에 위치하도록 설정 */
		    border-radius: 0.8vw; /* aside의 모서리를 둥글게 설정 */
		    overflow: hidden; /* 모서리가 둥글게 적용된 영역을 벗어나는 요소를 숨김 */
		    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */

		}
		
		.navbar {
		    display: flex;
		    flex-direction: column; /* 링크를 세로로 나열 */
		    padding: 1.5vw;
		    background-color: white; /* 네비게이션 바의 배경색 설정 */
		    border-radius: 0.8vw; /* 모서리를 둥글게 설정 */
		}
		
		.navbar a {
		   flex-shrink: 1;
		    margin: 0.1vh 0; /* 링크 사이에 간격을 설정 */
		    text-decoration: none;
		    color: gray;
		    font-size: 13px; /* 뷰포트 너비에 따라 유연하게 크기 조정 */
		    font-weight: 500; /* 글자 두께를 중간으로 설정 */
		    padding: 1vw 0.5vw; /* 링크에 패딩을 추가하여 클릭 영역을 확장 */
		    border-radius: 1vw; /* 링크의 모서리를 둥글게 설정 */
		    transition: background-color 0.3s, color 0.3s; /* 마우스를 올렸을 때 부드러운 전환 효과 추가 */
		   text-align: center;
		}
		
		.navbar a:hover {
		    background-color: #f2f2f2; /* 마우스를 올렸을 때 배경색 변경 */
		    color: #333; /* 마우스를 올렸을 때 텍스트 색상 변경 */
		}

		html {
		    scroll-behavior: smooth;
		}
		
		#grandline {
		    padding: 8px; /* 패딩을 80%로 줄임 */
		    background-color: #3C33A4;
		}
		
#smallline {
		     margin-left: 100px;
		     margin-right: 100px;
		}
		
		.book-list {
		    display: grid;
		    grid-template-columns: repeat(5, 1fr);
		    gap: 2.4vw; /* 간격을 80%로 줄임 */
		    justify-items: center;
		    padding: 0 8vw; /* 좌우 공백을 80%로 줄임 */
		}
		
		.book-img {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    width: 80%; /* 너비를 80%로 줄임 */
		    cursor: pointer;
		    padding: 0.24vw;
		    border-radius: 0.4vw;
		    box-shadow: 0px 0.8px 2.4px rgba(0, 0, 0, 0.1);
		    transition: transform 0.3s ease-in-out;
		}
		
		.book-img:hover {
		    transform: scale(1.05);
		}
		
		.book-img img {
		    width: 100%;
		    height: auto;
		    margin-bottom: 0.24vw;
		}
		.rank{
			z-index: 100;
		}

		.book-img .title,
		.book-img .author,
		.book-img .publisher {
		    font-size: 0.6vw; /* 텍스트 크기를 80%로 줄임 */
		    color: #333;
		    margin: 0.04vw 0;
		    text-align: center;
		    line-height: 1.1;
		}
		
		.book-img .title {
		    font-weight: bold;
		    font-size: 0.64vw; /* 제목 크기를 80%로 줄임 */
		}
		
		.section {
		    margin-top: 150px; /* 마진을 80%로 줄임 */
		    margin-left:8vw;
		    margin-right: 8vw;
		}
		
		.title {
		    margin-top: 32px;
		    margin-bottom: -60px;
		    margin-left: 13vw;
		    font-size: 2.4vw;
		}
		
		.tit {
		    margin-bottom: 16px;
		    font-size: 1.6vw; /* 텍스트 크기를 80%로 줄임 */
		    text-align: center;
		}