.title {
		    margin-top: 32px;
		    margin-bottom: 3vw;
		    font-size: 2.4vw; /* 텍스트 크기를 80%로 줄임 */
			margin-left: 10vw;
		}


form {
    display: flex;
    justify-content: center; /* 폼 요소들을 가운데 정렬 */
    align-items: center; /* 수직 방향으로 요소들을 가운데 정렬 */
}

form select, form input[type="text"], form input[type="submit"] {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc; /* 테두리 색상 설정 */
    border-radius: 0.5rem;
    background-color: white;
    transition: border-color 0.3s ease;
}

form input[type="text"] {
    width: 45vw; /* 검색어 입력 필드의 너비 자동 설정 */
}

form select:focus, form input[type="text"]:focus {
    border-color: #3C33A4; /* 포커스 시 테두리 색상 변경 */
    outline: none;
}

form input[type="submit"] {
    padding: 0.8rem 1.5rem;
    margin-left: 0.5vw;
    font-size: 1rem;
    color: white;
    background-color: #3C33A4; /* 버튼 배경색 설정 */
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #2b2888; /* 마우스 오버 시 버튼 색상 변경 */
}

#gubunsun{
	margin-left: 13vw;
	margin-right: 13vw;
}

#result{
	margin-top : 2vw;
	margin-left : 15vw;
}

#cateSelect {
    margin-right: 0vw; /* 카테고리 선택 상자와 검색어 입력 필드 사이의 간격 */
}

#result{
	margin-left: 0 auto;	
}
#searchresult {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}

#searchlist {
    margin-bottom: 2rem;
}

#bookresult {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #fff;
}

#bookresult:hover {
    background-color: #f9f9f9;
}

#bookresult img {
    width: 80px;
    height: auto;
    margin-right: 1.5rem;
    border-radius: 0.5rem;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; /* 텍스트 정보의 전체 너비 설정 */
}

.book-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem; /* 각 행 사이의 간격 */
}

.book-row .label {
    width: 100px; /* 레이블의 고정 너비 설정 */
    font-weight: bold; /* 레이블을 볼드 처리 */
    
    color: #333;
}

.book-row .value {
    flex-grow: 1; /* 값의 너비를 레이블에 맞춰 자동 조정 */
    word-break: break-word; /* 텍스트가 길 경우 줄바꿈 처리 */
    color: #555;
}

#noresult {
    text-align: center;
    color: #999;
    font-size: 1.5rem;
    margin: 2rem 0;
}


#page {
    text-align: center;
}

#page a {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

#page a:hover {
    background-color: #e0e0e0;
}

#page a.prv, #page a.next {
    font-weight: bold;
}

#page a.active {
    background-color: #3C33A4;
    color: white;
}