/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav, header, aside, main, footer {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav hr {
    border: none; /* 기본 테두리를 제거 */
    height: 5px; /* 라인의 두께를 설정 */
    background-color: #3C33A4; /* 라인의 색상을 초록색으로 설정 */
    margin: 0 0; /* 상하 여백을 추가 (필요에 따라 조정 가능) */
    padding: none;
}


main {
    margin-left: 2.1vw;
    margin-bottom: 3.5vw;
}

/* 공통 스타일: #usermenu와 #adminmenu에 동일하게 적용 */
.menu {
    position: relative;
    width: 100%;
    height: 3vw; /* 상대값으로 비율 조정 */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /* a 태그들을 가운데 정렬 */
    padding: 0.5vw 0;
    background-color: white;
    margin-right: 7%;

}

.menu a, .menu p {
    flex-shrink: 1;
    display: inline-block;
    margin: 0 0.3vw; /* 간격 조정 */
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
    font-weight: 500;
    white-space: nowrap;
}

.menu a img {
    height: 3vw;
    margin-right: 0px;
}

/* 메뉴 리스트를 중앙에 배치 */
.menulist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* 중앙에 위치하도록 flex-grow 사용 */
    gap: 0.3vw; /* 메뉴 항목들 간의 간격 조정 */
}

.menulist a {
	    margin: 0 2vw; /* 간격 조정 */
}

/* 버튼 컨테이너: 버튼들을 오른쪽에 정렬 */
.button-container {
    margin-left: auto; /* 왼쪽 마진 자동으로 설정해 버튼들이 오른쪽에 정렬 */
    display: flex;
    align-items: center;
    gap: 0.2vw; /* 버튼 간의 간격 */
}

.button-container button {
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border-radius: 0.35vw;
    border: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 1vw;
}
.button-container p {
	margin-right: 1vw;
}

#joinbutton {
    background-color: #f2f2f2;
}

#loginbutton {
    background-color: #3C33A4;
    color: white;
}

#logoutbutton {
    background-color:  #f2f2f2;
    color: black;

}


#joinbutton:hover, #loginbutton:hover, #logoutbutton:hover {
    font-weight: bold;
}

#joinbutton:hover {
    background-color: #e0e0e0;
}

#loginbutton:hover {
    background-color: #2c2578;
}

#logoutbutton:hover {
    background-color: #e0e0e0;
}

footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 2% 0;
    font-size: 1.2vw;
}
footer p{
	margin-left: 2vw;
}

